@import 'Shared-Colors.css';

.Game-grid{
    display: grid;
    grid-template-areas:
    'left right-top'
    'left right-bottom'
    ;
    grid-template-rows: 10% auto 20%;
    grid-template-columns: 80% 20%;
    
    background-image: url('/public/background2.png');
    background-repeat: repeat;
    background-size: 512px 512px;
    image-rendering: pixelated;
    background-color: var(--primary-color);
    padding: 20px;
}

.Game-grid-left{ grid-area: left; }
.Game-grid-right-top{ grid-area: right-top; }
.Game-grid-right-bottom{ grid-area: right-bottom; }