.button{
    border: 0px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background 10s ease;
    padding: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 2px rgb(63, 63, 63);
}

.button:hover{
    filter: brightness(1.1);
}

.button-green{
    background: linear-gradient(90deg, #5bda4b, #38b95f);
}

.button-blue{
    background: linear-gradient(90deg, #449fc9, #3851a5);
}

.button-red{
    background: linear-gradient(90deg, #e04848, #b81a1a);
}

.button-gray{
    background: linear-gradient(90deg, #1f1f1f, #3b3b3b);
}

.button-ash{
    background: linear-gradient(90deg, #CBD4C2, #b0b8a8);
}

.button-khaki{
    background: linear-gradient(90deg, #C3B299, #a1937e);
}